.container_Card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  background-color: #414141;
  padding: 1rem 2rem;

  margin: 1rem;
}

.container_Card h1 {
  margin-right: 30px;
  color: #fff;
}

.card_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

}
.card_buttons button{
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    padding: 8px;
}

.done {
  opacity: 0.5;
}
